nodered.txt
[{"id":"81826ad6.138648","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f3ffeefb.4dae8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"9921be60.f6ecd","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"dc9020f2.4a802","type":"ui_group","z":"","name":"Airqualityindex Status","tab":"9921be60.f6ecd","order":2,"disp":true,"width":"6","collapse":false},{"id":"9009a15a.9929f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"68a16d6e.937234","type":"ui_group","z":"","name":"Noise Status","tab":"9921be60.f6ecd","order":1,"disp":true,"width":"6","collapse":false},{"id":"1f42d737.c3cf49","type":"ibmiot in","z":"81826ad6.138648","authentication":"apiKey","apiKey":"f3ffeefb.4dae8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":320,"y":240,"wires":[["6eb508ba.4d6f38","c231febd.d5ab2","18d4347d.f5fdac"]]},{"id":"6eb508ba.4d6f38","type":"debug","z":"81826ad6.138648","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":240,"wires":[]},{"id":"c231febd.d5ab2","type":"function","z":"81826ad6.138648","name":"Noise","func":"global.set('noise',msg.payload.Noise)\nmsg.payload=msg.payload.Noise\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":140,"wires":[["6eb508ba.4d6f38","56ba39e1.b38d28","7925ea20.f6efa4"]]},{"id":"18d4347d.f5fdac","type":"function","z":"81826ad6.138648","name":"Airqualityindex","func":"global.set('airqualityindex',msg.payload.Airqualityindex)\nmsg.payload=msg.payload.Airqualityindex\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":320,"wires":[["6eb508ba.4d6f38","a27f8316.7d30b","3227fff5.6d631"]]},{"id":"56ba39e1.b38d28","type":"ui_gauge","z":"81826ad6.138648","name":"","group":"dc9020f2.4a802","order":2,"width":0,"height":0,"gtype":"gage","title":"Noise","label":"db","format":"{{value}}","min":"60","max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":180,"wires":[]},{"id":"a27f8316.7d30b","type":"ui_gauge","z":"81826ad6.138648","name":"","group":"dc9020f2.4a802","order":3,"width":0,"height":0,"gtype":"gage","title":"Airqualityindex","label":"ppm","format":"{{value}}","min":0,"max":"700","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":820,"y":340,"wires":[]},{"id":"7925ea20.f6efa4","type":"switch","z":"81826ad6.138648","name":"Noise","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"120","vt":"num"},{"t":"btwn","v":"80","vt":"num","v2":"120","v2t":"num"},{"t":"btwn","v":"60","vt":"num","v2":"85","v2t":"num"}],"checkall":"true","repair":false,"outputs":3,"x":640,"y":100,"wires":[["58463a2a.dee204"],["dda0471b.e8f358"],["46145788.9ebc88"]]},{"id":"3227fff5.6d631","type":"switch","z":"81826ad6.138648","name":"Airqualityindex","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"300","vt":"num"},{"t":"btwn","v":"50","vt":"num","v2":"300","v2t":"num"},{"t":"lte","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":660,"y":440,"wires":[["4d28d4b3.1efa3c"],["72b671.dd76299"],["5d892422.49378c"]]},{"id":"58463a2a.dee204","type":"function","z":"81826ad6.138648","name":"RED","func":"msg.payload=\"Please stop the vehicle...Red Light\"\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":40,"wires":[["fb16641.61da898"]]},{"id":"dda0471b.e8f358","type":"function","z":"81826ad6.138648","name":"ORANGE","func":"msg.payload=\"Ready to go...Orange Light\"\nreturn msg;\n","outputs":1,"noerr":0,"x":820,"y":80,"wires":[["fb16641.61da898"]]},{"id":"46145788.9ebc88","type":"function","z":"81826ad6.138648","name":"GREEN","func":"msg.payload=\"Go...Green Light\"\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":140,"wires":[["fb16641.61da898"]]},{"id":"fb16641.61da898","type":"ui_text","z":"81826ad6.138648","group":"68a16d6e.937234","order":0,"width":0,"height":0,"name":"","label":"Noise status","format":"{{msg.payload}}","layout":"row-center","x":1010,"y":80,"wires":[]},{"id":"258430ae.a610a","type":"ui_text","z":"81826ad6.138648","group":"dc9020f2.4a802","order":1,"width":0,"height":0,"name":"","label":"Air Quality Status","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":440,"wires":[]},{"id":"72b671.dd76299","type":"function","z":"81826ad6.138648","name":"ORANGE","func":"msg.payload=\"Ready to go...Orange Light\"\nreturn msg;\n\n","outputs":1,"noerr":0,"x":840,"y":440,"wires":[["258430ae.a610a"]]},{"id":"4d28d4b3.1efa3c","type":"function","z":"81826ad6.138648","name":"RED","func":"msg.payload=\"Please stop the vehicle.Red Light\"\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":400,"wires":[["258430ae.a610a"]]},{"id":"5d892422.49378c","type":"function","z":"81826ad6.138648","name":"GREEN","func":"msg.payload=\"Go.Green Light\"\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":480,"wires":[["258430ae.a610a"]]},{"id":"d677b0c1.e4968","type":"http in","z":"81826ad6.138648","name":"data","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":430,"y":660,"wires":[["c2c546b9.363488"]]},{"id":"2d25ef3c.68942","type":"http response","z":"81826ad6.138648","name":"","statusCode":"","headers":{},"x":870,"y":660,"wires":[]},{"id":"c2c546b9.363488","type":"function","z":"81826ad6.138648","name":"","func":"msg.payload={'noise':global.get(\"noise\"),'airqualityindex':global.get(\"airqualityindex\")}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":660,"wires":[["2d25ef3c.68942"]]},{"id":"744fe3d3.a7540c","type":"http in","z":"81826ad6.138648","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":440,"y":740,"wires":[["d585d00c.eb962"]]},{"id":"abecb975.1c8ad8","type":"http response","z":"81826ad6.138648","name":"","statusCode":"","headers":{},"x":950,"y":760,"wires":[]},{"id":"d585d00c.eb962","type":"function","z":"81826ad6.138648","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":760,"wires":[["abecb975.1c8ad8","ba4babc7.5eabc8"]]},{"id":"ba4babc7.5eabc8","type":"debug","z":"81826ad6.138648","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1020,"y":700,"wires":[]}]